body{
    background-color: white;
    background-size: cover;
    position: relative;
}

footer{
    padding: 4px;
    position: fixed;
    bottom: 0;
    
    align-items: center;
    text-align: center;
}

form{
    padding: 46px;
    margin: 15px;
    background-color: rgb(79, 134, 79);

}
h4{
    text-align: center;
}
li{
    list-style: none;
    padding: 4px;
    margin: 4px;
  
}
#fiveday{
    margin: 5px;
}
.searchlist{
    border: 3px solid green;
    border-radius: 5px;
}

.searchlist:hover{ 
    cursor: pointer;
    
}

.fCard{
    
    
    padding: 4px;
    margin: 8px;
}

.row1 { 
    height:400px;
    padding: 20px;
}

.wIcons{
    background-color: blue;
    height: 60px;
    width: 60px;
}